.card-pre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
.cancel-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
}
.text {
  width: 100%;
}

.text label {
  color: green;
}

.text .MuiOutlinedInput-root fieldset {
  border-color: green;
}

.text .MuiOutlinedInput-root:hover fieldset {
  border-color: green;
}

.text .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: green;
}

.id {
  width: 350px;
  height: 200px;
}
