.card-pre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
}
.text {
  width: 100%;
}

.text label {
  color: green;
}

.text .MuiOutlinedInput-root fieldset {
  border-color: green;
}

.text .MuiOutlinedInput-root:hover fieldset {
  border-color: green;
}

.text .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: green;
}

.btn{
    width: 100%;
}

