h1 {
  color: green;
}
.nic-card {
  position: relative;
  display: inline-block; 
  cursor: pointer;
  width: 350px; 
  border-radius: 8px;
  overflow: hidden; 
}

.nic-card img {
  width: 100%; 
  display: block; 
  border-radius: 8px;
  transition: 0.3s ease;
}

.nic-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 128, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nic-card:hover .overlay {
  opacity: 1;
}

.nic-card:hover img {
  transform: scale(1.05);
}
